[Unit]
Description=sleept 3 seconds at shutdown for longer splash screen
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStart=/bin/bash /etc/systemd/system/long-splash.sh

[Install]
WantedBy=multi-user.target
